/* START TOPBAR  */
.topbar{
    background: rgba(229,243,214,1.00);
    height: 45px;
    padding: 0px 50px;
    position: sticky;
}

#diskon{
    margin-left: 75px;
}

.topbar h3{
    margin: 0px;
    font-size: 13px;
    color: rgba(107,153,48,1.00);
    cursor: pointer;
    text-align: right;
}


h3 .kupon{
    font-size: 13px;
    color: #DE8044;
}

/* END TOP BAR */

/* START NAV BAR */

#navbar{
    height: 65px;
    padding: 0px 50px;
    position: sticky;
    box-shadow: 0 2px 5px 0 rgb(151,151,151,40%);
    font-size: 17px;
    margin-bottom: 40px;
}

#navbar > .logo{
    height: 42px;
    width: 162px;
    display: flex;
}

.logo img{
    width: 100%;
    align-self: center;
}

#navbar .search{
    align-items: center;
}

#navbar .search > input{
    margin: 16px 36px;
    width: 450px !important;
    font-size: 15px !important;
    font-family: Avenir-Medium;
    height: 40px;
    background: rgba(239,239,239,1.00);
    border-radius: 6px;
    outline: none;
    border: 0 solid #e2e8f0;
    padding: 0px 16px;
}

.cart, .notification {
    display: flex;
    align-items: center;
}

.icon-cart, .icon-notification {
    height: 33px;
    margin-right: 10px;
}

.icon-cart{
    width: 36px;
}

.icon-notification{
    width: 27px;
}

#navbar-mobile{
    box-shadow: 0px 1px 2px #0000001a;

}

.item-navbar{
    padding: 8px;
}

.icon-navbar img{
    width: 27px;
}

.icon-cart img, .icon-notification img {
    width: 100%;
}

#navbar .vertical-bar{
    font-size: 20px;
    color: grey;
    padding: 0px 16px;
}

/* END NAVBAR */

/* START HEADER */

#header{
    height: 40px;
}

.breadcumb > div  .arrow{
    padding: 8px 16px;
}

.text-urutkan{
    padding-right: 20px;
}

.filter-urutkan{
    min-width: 240px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid rgb(219, 217, 217);
}

.filter-mobile{
    position: fixed;
    width: 100%;
    background: white;
    height: 50px;
    bottom: 0px;
    box-shadow: #00000040 0px 0px 8px;
    
}

/* END HEADER */

/* CONTENT */

#category-mobile{
    overflow-x: auto;
    padding-top: 20px;
    padding-left: 8px;
}

#category-mobile::-webkit-scrollbar {
    display: none;
  }

.item-category{
    padding: 8px;
    cursor: pointer;
    color:rgb(124, 196, 48);
    border-radius: 30px;
    border: 1px solid rgb(124, 196, 48);
    margin: 0px 6px;
    min-width: 100px;
    text-align: center;
}

#content{
    margin-top: 40px;
}

#sidebar{
    min-width: 275px;
    height: 300px;
    width: 100%;
    padding-right: 60px;

}

.btn-reset{
    color: #7cc430 !important;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    background: transparent !important;
    border: none !important;
    font-size: 15px;
}

.panel-sidebar{
    padding: 16px;
    background: white;
    box-shadow: rgba(151,151,151,40%) 0px 1.5px 5px;
}

.rating, .rating{
    padding-top: 16px;
}

.range-rating, .range-harga{
    width: 100%;
    height: 10px;
    background: rgb(124, 196, 48);
    border-radius: 10px;
    position: relative;
}

.range-rating .dot, .range-harga .dot{
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid rgb(124, 196, 48);
    border-radius: 50%;
}

.range-rating .dot.selected, .range-harga .dot.selected{
    background: rgb(124, 196, 48) !important;   
    
}

.text-bintang, .text-harga{
    width: 100%;
    padding-top: 8px;
    font-size: 13px;
}


#produk{
    height: 100vh;
    width: 100%;
    margin-top: -8px;
}

.item-produk{
    height: 446px;
    padding: 8px;
}

.content-produk{
    background: white;
    border-radius: 8px;
}

.badge-produk{
    margin-right: 10px;
    margin-bottom: 10px;
}

.best-seller{
    color: white;
    font-size: 11px;
    width: 80px !important;
}

.best-seller div{
    background: #de8044;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    height: fit-content;
    padding: 3px;
}

.diskon{
    background: rgb(255, 214, 82);
    color: rgb(222, 84, 68);
    box-shadow: rgb(151,151,151,40%) 0px 2px 3px;
    font-size: 16px;
    font-weight: 900;
    font-family: Avenir-Black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px;
}

.image-produk img{
    height: 150px;
}

#produk .category{
    border: 1px solid rgb(124, 196, 48);
    color: rgb(124, 196, 48);
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    margin-left: 20px;
}

.body-produk{
    padding-left: 20px;
}

.title-produk h3{
    font-size: 17px;
    font-family: Avenir-Medium;
    font-weight: 500;
}

.btn-beli{
    background: rgb(124, 196, 48);
    color: white;
    font-size: 15px;
    height: 50px;
    font-family: Avenir-Heavy;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    padding: 6px;
    margin-top: 10px;
    width: calc(100% + 20px);
    margin-left: -20px;
}

/* CONTENT */


/* START GLOBAL CSS */
body{
    margin: 0px;
    font-family: Avenir-Heavy;
}

.text-orange{
    color: #DE8044 !important;
}

.w-100{
    width: 100%;
}

.use-flex{
    display: flex;
    flex-basis: auto;
}

.flex-column{
    flex-direction: column;
}

.flex-align-center{
    align-items: center;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-content-center{
    justify-content: center;
}

.flex-space-evenly{
    justify-content: space-evenly;
}

.flex-space-around{
    justify-content: space-around;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.flex-shrink-1{
    flex-shrink: 1;
}


.flex-wrap{
    flex-wrap: wrap;
}

.use-grid{
    display: grid;
}

.grid-web-4{
    grid-template-columns: 25% 25% 25% 25%;
}
.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.ml-30{
    margin-left: 30px;
}

.ml-60{
    margin-left: 69px;
}

.font-medium{
    font-family: Avenir-Medium;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.box-shadow-grey{
    box-shadow: rgba(151,151,151,40%) 0px 1.5px 5px;
}

a{
    text-transform: none !important;
    text-decoration: none !important;
    color: black;
    font-weight: 400 !important;
    font-family: Avenir-Medium;
}

/* untuk web */
@media (min-width: 1280px){
    .mobile{
        display: none;
    }
    .container {
        max-width: 1280px;
    }
}

/* untuk tablet atau web */
@media(min-width: 1025px) and (max-width: 1135px){

    .container {
        padding: 0px 50px;
        width: calc(100% - 100px);
    }

    .mobile{
        display: none;
    }

    #navbar .search > input{
        width: 250px !important;
    }

    .grid-mobile-2{
        margin-bottom: 10px;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}


/* mungkin tablet */
@media (max-width: 1024px){
    .container {
        padding: 30px;
    }
    .web{
        display: none;
    }

    .mobile{
        display:block;
    }

    .grid-mobile-2{
        grid-template-columns: 50% 50%;
    }

    #content{
        margin-top: 20px !important;
    }
}

@media (max-width: 768px) {
    #content{
        margin-top: 20px !important;
    }
    .container {
        padding: 10px;
        width: calc(100% - 20px)
    }

    .grid-mobile-2{
        grid-template-columns: 50% 50%;
    }
}

/* END GLOBAL CSS */